<h3>Enter a Title And Click Submit To Create a Conversation</h3>

<%= form_tag "/conversations/#{@conversation.id}/messages", method: :post  do %>
  <%= label_tag :text %>
  <%= text_field_tag :text %>

  <%= submit_tag "Save Message" %>
<% end %>