<h1>Conversations</h1>

  <%= link_to "Create a Conversation", "/conversations/new" %>

<h2>View All Conversations</h2>

<% @conversations.each do |convo| %>
  <div class="convo-<%= convo.id %>">
    <h3><%= link_to "#{convo.title}", conversation_path(convo.id) %></h3>
    <p>Start Date: <%= convo.start_date %></p><br>
  </div>
<% end %>
