<h3>Enter your thought and click 'Save Thought'</h3>

<%= form_tag conversation_message_thoughts_path(@conversation.id, @message.id), method: :post  do %>
  <%= label_tag :text %>
  <%= text_field_tag :text %>

  <%= submit_tag "Save Thought" %>
<% end %>